:root {
  --text-color: rgb(65, 65, 65);
  --background-color: rgb(255, 255, 250);
  --accent-color: rgb(255, 255, 245);
  --max-width: 70ch;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: var(--max-width);
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

nav {
  text-align: center;
}

:not(pre) > code { /* Inline code. */
  background-color: var(--accent-color);
  border: 0.1em solid var(--text-color);
  padding: 0.1em;
  margin: 0.1em;
}

pre > code {
  /* Code should have more padding in a code block. */
  padding: 0.5em;
}

pre { /* Code block. */
  background-color: var(--accent-color);
  border: 0.1em solid var(--text-color);
  /* Horizontal scroll for blocks of code. */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Responsive image. */
img {
  height: auto;
  max-width: calc(var(--max-width) / 2);
  width: 100%;
}